header {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        font-family: Heebo, sans-serif;
        font-weight: 800;
        font-size: 24px;
        color: #333;
    }
    
    .hamburger {
        border: none;
        position: fixed;
        right: 0;
        padding: .5rem 1rem;
        background-color: transparent;
        z-index: 99;

    }

    nav {
        ul {
        list-style-type: none;

            li {
                a {
                    color: #333;
                    text-decoration: none;
                    font-family: Poppins, sans-serif;
                    font-weight: 500;
                    }
                }

                & {
                    display: none;
                }

            &.show {
                border-bottom-left-radius: 4rem;
                background: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
                width: 9rem;
                right: 0;
                top: 0;
                height: 50vh;
                position: fixed;
                display: flex;
                flex-direction: column;
                z-index: 98;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                backdrop-filter: blur(1rem);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;

        .logo {
            font-size: 36px;
        }

        .hamburger {
            display: none;
        }

        nav {     
            ul {
                display: flex;
                gap: 1rem;
    
                li {
                    &:hover {
                        text-decoration: underline;
                    }
                    a {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}